.buttonLegendary
{
    -fx-background-color: linear-gradient(to right bottom, #eaed26, #949410);
    -fx-background-radius : 30 0 0 30;
}

.buttonLegendary:hover
{
-fx-background-color: linear-gradient(to right bottom, #9a9a22, #949410);
    -fx-background-radius : 30 0 0 30;
}

.buttonLegendary:pressed
{
-fx-background-color: linear-gradient(to right bottom, #eaed26, #949410);
    -fx-background-radius : 30 0 0 30;
}

.button1
{
    -fx-background-color: linear-gradient(to right bottom, #08f844, #298321);
    -fx-background-radius : 30 0 0 30;
}

.button1:hover
{
    -fx-background-color: linear-gradient(to right bottom, #08c935, #298321);
        -fx-background-radius : 30 0 0 30;
}

.button1:pressed
{
    -fx-background-color: linear-gradient(to right bottom, #08f844, #298321);
        -fx-background-radius : 30 0 0 30;
}
.buttonSelect
{
-fx-background-color: linear-gradient(to right bottom, #edb0e1, #cdaac6);
    -fx-background-radius : 30 0 0 30;
}

.buttonSelect:hover
{
-fx-background-color: linear-gradient(to right bottom, #cdaac6, #edb0e1);
    -fx-background-radius : 30 0 0 30;
}

.buttonSelect:pressed
{
-fx-background-color: linear-gradient(to right bottom, #edb0e1, #cdaac6);
    -fx-background-radius : 30 0 0 30;
}
.buttonWater
{
-fx-background-color: linear-gradient(to right bottom, #87cfdd, #3c76d3);
    -fx-background-radius : 0 30 30 0;
}

.buttonWater:hover
{
-fx-background-color: linear-gradient(to right bottom,  #3373da, #3c76d3);
    -fx-background-radius : 0 30 30 0;
}

.buttonWater:pressed
{
-fx-background-color: linear-gradient(to right bottom, #87cfdd, #3c76d3);
    -fx-background-radius : 0 30 30 0;
}
.buttonWaterCenter
{
-fx-background-color: linear-gradient(to right bottom, #87cfdd, #3c76d3);
    -fx-background-radius : 0 0 0 0;
}

.buttonWaterCenter:hover
{
-fx-background-color: linear-gradient(to right bottom,  #3373da, #3c76d3);
    -fx-background-radius : 0 0 0 0;
}

.buttonWaterCenter:pressed
{
-fx-background-color: linear-gradient(to right bottom, #87cfdd, #3c76d3);
    -fx-background-radius : 0 0 0 0;
}

.buttonExit
{
-fx-background-color: linear-gradient(to right bottom, #da2929, #611111);
    -fx-background-radius : 30 0 0 30;
}

.buttonExit:hover
{
-fx-background-color: linear-gradient(to right bottom, #612424, #611111);
    -fx-background-radius : 30 0 0 30;
}

.buttonExit:pressed
{
-fx-background-color: linear-gradient(to right bottom, #da2929, #611111);
    -fx-background-radius : 30 0 0 30;
}
.buttonDiscard
{
-fx-background-color: linear-gradient(to right bottom, #858585 , #4e835b);    -fx-background-radius : 0 0 0 30;
}

.buttonDiscard:hover
{
-fx-background-color: linear-gradient(to right bottom, #612424, #611111);
    -fx-background-radius : 0 0 0 30;
}

.buttonDiscard:pressed
{
-fx-background-color: linear-gradient(to right bottom, #858585 , #4e835b);    -fx-background-radius : 0 0 0 30;
}

.anchor-paneBorder {
    -fx-border-color:  #61523a;
    -fx-border-width: 7px;

}

.buttonSkipDay
{
-fx-background-color : #61523a;
-fx-background-radius : 0 30 30 0;
}

.buttonSkipDay:hover
{
-fx-background-color : #4d4030;
-fx-background-radius : 0 30 30 0;
}

.buttonSkipDay:pressed
{
-fx-background-color : #61523a;
-fx-background-radius : 0 30 30 0;
}
.buttonSelectMiddle
{
-fx-background-color : #80cd93;
-fx-background-radius : 0 0 0 0;
}

.buttonSelectMiddle:hover
{
-fx-background-color : #166b2c;
-fx-background-radius : 0 0 0 0;
}

.buttonSelectMiddle:pressed
{
-fx-background-color : #80cd93;
-fx-background-radius : 0 0 0 0;
}

.buttonWaterMiddle
{
-fx-background-color : #34a8d9;
-fx-background-radius : 0 0 0 0;
}

.buttonWaterMiddle:hover
{
-fx-background-color : #3373da;
-fx-background-radius : 0 0 0 0;
}

.buttonWaterMiddle:pressed
{
-fx-background-color : #34a8d9;
-fx-background-radius : 0 0 0 0;
}

.progressBarHealth .bar{
-fx-background-color: linear-gradient(to right, red, green);
    }

.backgroundColor{
    -fx-background-color: #92eaa9;
}

.backgroundColor:hover{
    -fx-background-color: #82cf95;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

.backgroundColor:pressed{
    -fx-background-color: #92eaa9;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

.backgroundColorSettings{
    -fx-background-color:   #4e835b;
}

.backgroundColorSettings:hover{
    -fx-background-color:  #4e835b;
}

.backgroundColorSettings:pressed{
    -fx-background-color:  #4e835b;
}

.buttonSettings
{
-fx-background-color: linear-gradient(to right bottom, #8a8a8a, #4a4a4a);
    -fx-background-radius : 30 0 0 30;
}

.buttonSettings:hover
{
-fx-background-color: linear-gradient(to right bottom, #4a4a4a, #4a4a4a);
    -fx-background-radius : 30 0 0 30;
}

.buttonSettings:pressed
{
-fx-background-color: linear-gradient(to right bottom, #8a8a8a, #4a4a4a);
    -fx-background-radius : 30 0 0 30;
}
.textFieldGreen {
    -fx-background-color: #92eaa9;
}
@font-face {
    src: url("fonts/retro_computer_personal_use.ttf");
}
.text {
    -fx-font-family:"Retro Computer";
}
.label {
    -fx-font-family:"Retro Computer";
}
.elementToggle {
    -fx-background-radius :30 30 30 30;
}
.gradientTest{
-fx-background-color: linear-gradient(to right bottom, #858585 , #4e835b);
}

